.slick-arrow.slick-prev {
  height: 56px;
  width: 56px;
  left: -60px;
}

.slick-arrow.slick-next {
  transform: translateY(-50%) rotate(180deg);
  height: 56px;
  width: 56px;
  right: -60px;
}

.slick-dots {
  margin-top: 100px;
}
