@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

#navbarLink.active {
  font-weight: bold;
  text-decoration: underline;
}

.parentDiv {
  background-image: linear-gradient(
      to right,
      white 40%,
      rgba(255, 255, 255, 0.8)
    ),
    url("./assets/common/bkg.jpg");
  background-size: contain;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  display: initial;
  width: 10px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #4896ef;
  border-radius: 10px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #555;
}
